
<div class="toolbar" role="banner">
  <img
    width="125"
    alt="Example Logo"
    src="./assets/images/logo.PNG"
  />
</div>

<div class="content" role="main">

</div>

<div class="login">
     <h3><b>Login</b> Your Account</h3>
      <form [formGroup]="login" (ngSubmit)="loginData(login)">
        <div class="form">
          <input  required  type="text" class="form-control" formControlName="email" placeholder="Email Address" id="email">
          <div *ngIf="(login.controls.email.invalid && login.controls.email.touched) || login.controls.email.dirty">
            <small *ngIf="login.controls.email.errors?.required" class="text-danger">Email Address is required</small>
          </div>
          <input  type="password" class="form-control" formControlName="password" placeholder="Password" id="pass">
          <div *ngIf="(login.controls.password.invalid && login.controls.password.touched) || login.controls.password.dirty">
            <small *ngIf="login.controls.password.errors?.required" class="text-danger">Password is required</small>
          </div>
        </div>
        <button class="form-control" type="submit" id="loginBtn">Login</button>
        <a routerLink="/signup">Register Account</a>
      </form>
  </div>