<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
    :host {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-size: 14px;
      color: #333;
      box-sizing: border-box;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 8px 0;
    }
  
    p {
      margin: 0;
    }
  
    .spacer {
      flex: 1;
    }
  
    .toolbar {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 60px;
      display: flex;
      align-items: center;
      background-color: white;
      color: rgb(0, 0, 0);
      font-weight: 600;
      border-bottom: 2px #eee solid;
      padding-right: 100px;
    }
  
    .toolbar img {
      margin: 0 100px;
    }
  
    .content {
      display: flex;
      margin: 82px auto 32px;
      padding: 0 100px;
      max-width: 100%;
      flex-direction: column;
    }
  
    svg.material-icons {
      height: 24px;
      width: auto;
    }
  
    svg.material-icons:not(:last-child) {
      margin-right: 8px;
    }
  
    .card svg.material-icons path {
      fill: #888;
    }
  
    .card-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 16px;
    }
  
    .card {
      all: unset;
      border-radius: 4px;
      border: 1px solid #eee;
      background-color: #fafafa;
      height: 40px;
      width: 200px;
      margin: 0 8px 16px;
      padding: 16px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      transition: all 0.2s ease-in-out;
      line-height: 24px;
    }
  
    .card-container .card:not(:last-child) {
      margin-right: 0;
    }
  
    .card.card-small {
      height: 16px;
      width: 168px;
    }
  
    .card-container .card:not(.highlight-card) {
      cursor: pointer;
    }
  
    .card-container .card:not(.highlight-card):hover {
      transform: translateY(-3px);
      box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }
  
    .card-container .card:not(.highlight-card):hover .material-icons path {
      fill: rgb(105, 103, 103);
    }
  
    .card.highlight-card {
      background-color: #1976d2;
      color: white;
      font-weight: 600;
      border: none;
      width: auto;
      min-width: 30%;
      position: relative;
    }
  
    .card.card.highlight-card span {
      margin-left: 60px;
    }
  
    svg#rocket {
      width: 80px;
      position: absolute;
      left: -10px;
      top: -24px;
    }
  
    svg#rocket-smoke {
      height: calc(100vh - 95px);
      position: absolute;
      top: 10px;
      right: 180px;
      z-index: -10;
    }
  
    a,
    a:visited,
    a:hover {
      color: #1976d2;
      text-decoration: none;
    }
  
    a:hover {
      color: #125699;
    }
  
    .terminal {
      position: relative;
      width: 80%;
      max-width: 600px;
      border-radius: 6px;
      padding-top: 45px;
      margin-top: 8px;
      overflow: hidden;
      background-color: rgb(15, 15, 16);
    }
  
    .terminal::before {
      content: "\2022 \2022 \2022";
      position: absolute;
      top: 0;
      left: 0;
      height: 4px;
      background: rgb(58, 58, 58);
      color: #c2c3c4;
      width: 100%;
      font-size: 2rem;
      line-height: 0;
      padding: 14px 0;
      text-indent: 4px;
    }
  
    .terminal pre {
      font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
      color: white;
      padding: 0 1rem 1rem;
      margin: 0;
    }
  
    .circle-link {
      height: 40px;
      width: 40px;
      border-radius: 40px;
      margin: 8px;
      background-color: white;
      border: 1px solid #eeeeee;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      transition: 1s ease-out;
    }
  
    .circle-link:hover {
      transform: translateY(-0.25rem);
      box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    }
  
    footer {
      margin-top: 8px;
      display: flex;
      align-items: center;
      line-height: 20px;
    }
  
    footer a {
      display: flex;
      align-items: center;
    }
  
    .github-star-badge {
      color: #24292e;
      display: flex;
      align-items: center;
      font-size: 12px;
      padding: 3px 10px;
      border: 1px solid rgba(27,31,35,.2);
      border-radius: 3px;
      background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
      margin-left: 4px;
      font-weight: 600;
    }
  
    .github-star-badge:hover {
      background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
      border-color: rgba(27,31,35,.35);
      background-position: -.5em;
    }
  
    .github-star-badge .material-icons {
      height: 16px;
      width: 16px;
      margin-right: 4px;
    }
  
    svg#clouds {
      position: fixed;
      bottom: -160px;
      left: -230px;
      z-index: -10;
      width: 1920px;
    }
  
    /* Responsive Styles */
    @media screen and (max-width: 767px) {
      .card-container > *:not(.circle-link) ,
      .terminal {
        width: 100%;
      }
  
      .card:not(.highlight-card) {
        height: 16px;
        margin: 8px 0;
      }
  
      .card.highlight-card span {
        margin-left: 72px;
      }
  
      svg#rocket-smoke {
        right: 120px;
        transform: rotate(-5deg);
      }
    }
  
    @media screen and (max-width: 575px) {
      svg#rocket-smoke {
        display: none;
        visibility: hidden;
      }
    }
  
    #dropdownBasic1 {
      border-radius: 1em;
    }
  
    .user {
      margin-right: 5px;
    }
  
    .user #name {
      float: right;
    }
  
    .information {
      width: 50%;
      display: inline-block;
    }
  
    .search {
      float: right;
      margin-top: 37px;
    }
  
    .summary {
      height: 7em;
      border: 2px solid #eee;
      margin-top: 3em;
      box-shadow: 0 1px 1px rgba(99,100,100, 0.11), 
                0 2px 2px rgba(99,100,100, 0.11), 
                0 4px 4px rgba(99,100,100, 0.11), 
                0 6px 8px rgba(99,100,100, 0.11),
                0 8px 16px rgba(99,100,100, 0.11);
      display: inline-flex;
    }
  
    .total {
      all: unset;
      border-radius: 4px;
      border: 1px solid #eee;
      background-color: #fafafa;
      height: 40px;
      width: 33%;
      margin: 10px 8px 8px;
      padding: 16px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      transition: all 0.2s ease-in-out;
      line-height: 24px;
      display: grid;
      text-align: center;
    }
  
    .active {
      background-color: #eee;
    }
  
    .policies-container {
      display: flex;
      flex-wrap: wrap;
      margin-left: 5px;
    }
  
    .card-policy {
      all: unset;
      border-radius: 4px;
      border: 1px solid #eee;
      background-color: #fafafa;
      height: 66px;
      width: 16.5em;
      margin: 0 8px 16px;
      padding: 16px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      transition: all 0.2s ease-in-out;
      line-height: 24px;
      border: 2px solid #eee;
      margin-top: 3em;
      box-shadow: 0 1px 1px rgba(99,100,100, 0.11), 
                0 2px 2px rgba(99,100,100, 0.11), 
                0 4px 4px rgba(99,100,100, 0.11), 
                0 6px 8px rgba(99,100,100, 0.11),
                0 8px 16px rgba(99,100,100, 0.11);
      display: inline-grid;
      color: black !important;
    }
  
    #type {
      float: left;
      width: 0em;
      display: block;
      height: 7.2em;
      margin-top: 0px;
      border: 2px solid green;
      margin-left: -18px;
      border-radius: 16px;
      position: absolute;
    }

    .installment {
      border: 2px solid blue !important;
    }
  </style>
  
  <!-- Toolbar -->
  <div class="toolbar" role="banner">
    <img
      width="125"
      alt="Example Logo"
      src="./assets/images/logo.PNG"
    />
  
    
      <div class="spacer"></div>
      <div class="user">
        <p id="name">Hello, Angelica</p>
        <p id="email">angelicarioflorido130@gmail.com</p>
      </div>
      <div class="row">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <a type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
              
            </a>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem routerLink="/login">Logout</button>
            </div>
          </div>
        </div>
      </div>
  </div>
  
  <div class="content" role="main">
  
  
    <!-- Resources -->
    <div>
      <div class="information">
        <h2>Policies</h2>
        <p>Detailed list of clients policies</p>
      </div>
  
      <div class="search">
        <input id="typeahead-basic" type="text" class="form-control" placeholder="Search" [ngbTypeahead]="model"  />
      </div>
    </div>
  
    <div class="summary">
      <a class="total active" target="_blank" rel="noopener" [class.active]="selectedSummary==='total'" (click)="useLanguage('total')">
        <div class="display">
          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z"/></svg>
          <span><b>{{totalPolicy}}</b></span>
        </div>
        
        <span>TOTAL</span>
      </a>
      <a class="total" target="_blank" rel="noopener" [class.active]="selectedSummary==='installment'" (click)="useLanguage('installment')">
        <div class="display">
          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z"/></svg>
          <span><b>{{insPolicy}}</b></span>
        </div>
        
        <span>INSTALLMENT</span>
      </a>
      <a class="total" target="_blank" rel="noopener" [class.active]="selectedSummary==='fullpayment'" (click)="useLanguage('fullpayment')">
        <div class="display">
          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z"/></svg>
          <span><b>{{fPaymentPolicy}}</b></span>
        </div>
        
        <span>FULL PAYMENT</span>
      </a>
    </div>
  
    <div class="policies-container">
      <div *ngFor="let policy of jsonData2">
        <a class="card-policy" target="_blank" rel="noopener" href="https://angular.io/tutorial">
          <div id="type" [class.installment]="policy.installmentPayment===true"></div>
          <div>
            <p>{{policy.email}}</p>
            <p>{{policy.amountInsured}}</p>
            <p>{{policy.inceptionDate}}</p>
          </div>
        </a>
      </div>
    </div>
  
    <div class="pagination">
      
    </div>
    
  </div>
  
  