
  <div class="toolbar" role="banner">
    <img
      class="logo"
      width="125"
      alt="Example Logo"
      src="./assets/images/logo.PNG"
    />
  
    
      <div class="spacer"></div>
      <div class="user">
        <p id="name">Hello, {{username}}</p>
        <p id="email">{{useremail}}</p>
      </div>
      <div class="row">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <a type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
              <img alt="User Logo" src="./assets/images/user.png"/>
            </a>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem (click)="logout()">Logout</button>
            </div>
          </div>
        </div>
      </div>
  </div>
  
  <div class="content" role="main">
  
  
    <!-- Resources -->
    <div>
      <div class="information">
        <h2>Policies</h2>
        <p>Detailed list of clients policies</p>
      </div>
  
      <div class="search">
        <img alt="search Logo" src="./assets/images/search.png"/>
        <input id="typeahead-basic" type="text" class="form-control" placeholder="Search" name="searchValue" [(ngModel)]="searchValue" />
      </div>
    </div>
  
    <div class="summary">
      <a class="total active" target="_blank" rel="noopener" [class.active]="selectedSummary==='total'" (click)="useLanguage('total')">
        <div class="display">
          <img alt="Total Logo" src="./assets/images/total.png"/>
          <span><b>{{totalPolicy}}</b></span>
        </div>
        
        <span>TOTAL</span>
      </a> 
      <a class="total" target="_blank" rel="noopener" [class.active]="selectedSummary==='installment'" (click)="useLanguage('installment')">
        <div class="display">
          <img alt="Installment Logo" src="./assets/images/installment.png"/>
          <span><b>{{insPolicy}}</b></span>
        </div>
        
        <span>INSTALLMENT</span>
      </a>
      <a class="total" target="_blank" rel="noopener" [class.active]="selectedSummary==='fullpayment'" (click)="useLanguage('fullpayment')">
        <div class="display">
          <img alt="Fullpayment Logo" src="./assets/images/full-payment.png"/>
          <span><b>{{fPaymentPolicy}}</b></span>
        </div>
        
        <span>FULL PAYMENT</span>
      </a>
    </div>
  
    <div class="policies-container">
        <a class="card-policy" target="_blank" rel="noopener" href="https://angular.io/tutorial"  *ngFor="let policy of this.jsonData2 | slice: (page-1) * 25 : (page-1) * 25 + 25 | searchFilter: searchValue">
          <div id="type" [class.installment]="policy.installmentPayment===true"></div>
          <div>
            <h6>{{policy.email}}</h6>
            <p>Amount Insured: <b>{{policy.amountInsured}}</b></p>
            <p>Inception Date: <b>{{policy.inceptionDate}}</b></p>
          </div>
        </a>
    </div>
    <ngb-pagination class="d-flex justify-content-end pagination" [collectionSize]="count" [pageSize]="25" [rotate]="true" [(page)]="page" [boundaryLinks]="true"></ngb-pagination>
  </div>
  
  